footer(class='footer py-5')
    div(class='container')
        div(class='row gy-4')
            div(class='col-lg-4')
                h4(class='text-white') MelodyMeet
                    img(src='/client/images/logo.png' alt='Eventbrite Logo' height='30')
                p Nền tảng đáng tin cậy của bạn để khám phá và đặt chỗ cho những sự kiện âm nhạc tuyệt vời.
            div(class='col-lg-4')
                h4 Quick Links
                ul(class='list-unstyled')
                    li
                        a(href='#') About Us
                    li
                        a(href='#') Contact
                    li
                        a(href='#') Terms &amp; Conditions
                    li
                        a(href='#') Privacy Policy
            div(class='col-lg-4')
                h4 Newsletter
                form(class='newsletter-form')
                    div(class='input-group')
                        input(type='email' class='form-control' placeholder='Enter your email')
                        button(class='btn btn-primary') Subscribe